In [2]:
# 이코다 p111 상하좌우

n = int(input())
position = list(map(str, input().split()))
x, y = 1, 1

for i in position:
    if i == 'R' and y < n:
        y += 1
    elif i == 'L' and y > 1:
        y -= 1
    elif i == 'U' and x > 1:
        x -= 1
    elif i == 'D' and x < n:
        x += 1
    
print(x, y)

5
R R R U D D
3 4

In [54]:
# 이코다 p113 시각

n = int(input())
lst = []
cnt = 0

for _ in range(n+1):
    for i in range(60):
        for j in range(60):
            if '3' in str(_) + str(i) + str(j):
                cnt += 1

print(cnt)

5
11475

In [1]:
# 2742 기찍 N

n = int(input())

for i in range(n):
    print(n - i)

5
5
4
3
2
1

In [18]:
# 2577 숫자의 개수

a = int(input())
b = int(input())
c = int(input())
abc = str(a*b*c)
lst = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
res = []

for i in lst:
    i = str(i)
    res.append(abc.count(i))
    
print(*res, sep='\n')

150
266
427
3
1
0
2
0
0
0
2
0
0

In [11]:
a = '1231'
a.count('1')

2

In [15]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [22]:
# 10872 팩토리얼, 반복문 사용

n = int(input())
res = 1

for i in range(1, n):
    res *= i
    
print(res)

0
1

In [ ]:
# 10872 팩토리얼, 재귀 함수 사용

def my_factorial(n):
    if n > 1:
        return n * my_factorial(n-1)
    else:
        return 1
    
my_factorial(13235)