In [2]:
# 이코다 p111 상하좌우

n = int(input())
position = list(map(str, input().split()))
x, y = 1, 1

for i in position:
    if i == 'R' and y < n:
        y += 1
    elif i == 'L' and y > 1:
        y -= 1
    elif i == 'U' and x > 1:
        x -= 1
    elif i == 'D' and x < n:
        x += 1
    
print(x, y)

5
R R R U D D
3 4

In [54]:
# 이코다 p113 시각

n = int(input())
lst = []
cnt = 0

for _ in range(n+1):
    for i in range(60):
        for j in range(60):
            if '3' in str(_) + str(i) + str(j):
                cnt += 1

print(cnt)

5
11475

In [1]:
# 2742 기찍 N

n = int(input())

for i in range(n):
    print(n - i)

5
5
4
3
2
1

In [18]:
# 2577 숫자의 개수

a = int(input())
b = int(input())
c = int(input())
abc = str(a*b*c)
lst = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
res = []

for i in lst:
    i = str(i)
    res.append(abc.count(i))
    
print(*res, sep='\n')

150
266
427
3
1
0
2
0
0
0
2
0
0

In [11]:
a = '1231'
a.count('1')

2

In [15]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [4]:
# 10872 팩토리얼, 반복문 사용

n = int(input())
res = 1

for i in range(1, n+1):
    res *= i
    
print(res)

10
3628800

In [2]:
# 10872 팩토리얼, 재귀 함수 사용

def my_factorial(n):
    if n > 1:
        return n * my_factorial(n-1)
    else:
        return 1
    
my_factorial(10)

3628800

In [3]:
# 이코다 p115 왕실의 나이트

user = input()
res = 0

if user[0] == 'a' or user[0] == 'h':
    if user[1] == '1' or user[1] == '8':
        res = 2
    elif user[1] == '2' or user[1] == '7':
        res = 3
    else:
        res = 4
elif user[0] == 'b' or user[0] == 'g':
    if user[1] == '1' or user[1] == '8':
        res = 3
    elif user[1] == '2' or user[1] == '7':
        res = 4
    else:
        res = 6
else:
    if user[1] == '1' or user[1] == '8':
        res = 4
    else:
        res = 6

print(res)

c2
6

In [19]:
# 이코다 p115 왕실의 나이트 교재 풀이

user = input()
column = int(ord(user[0])) - int(ord('a')) + 1     # a 값을 1로 잡아주기 위해 + 1
row = int(user[1])

steps = [(-2,-1), (-1, -2), (-2, 1), (1, -2), (2, -1), (-1, 2), (2, 1), (1, 2)]

res = 0
for i in steps:
    next_row = row + i[0]
    next_col = column + i[1]
    if next_row >= 1 and next_row <= 8 and next_col >= 1 and next_col <= 8:
        res += 1


print(res)

a1
2

In [38]:
# 2775 부녀회장이 될테야

t = int(input())


for i in range(t):
    res = 0
    k = int(input())   # 층
    n = int(input())   # 호
    f0 = [i for i in range(1, n+1)] # 0층 1호 부터 n호까지 사람
    
    for j in range(k):
        for x in range(1, n): 
            f0[x] += f0[x-1]   # 앞 호수만큼 사람 수 더해준 다음 f0 리스트에서 변경 
                               # -> 이걸 위에 for 문으로 반복함으로써 층수만큼 반복하게 됨
            
    print(f0[-1])

2
1
3
6
2
3
10

In [20]:
for i in range(2):
    print(i)

0
1

In [ ]:
# 이코다 p118 게임 개발

In [18]:
# 2442 별 찍기-5

n = int(input())

for i in range(1, n+1):
    print((n-i) * ' ' + i * '*' + (i-1) * '*')

5
    *
   ***
  *****
 *******
*********

In [25]:
# 10773 제로

k = int(input())
lst = []

for i in range(k):
    n = int(input())
    if n != 0:
        lst.append(n)
    elif n == 0:
        lst.pop()

print(sum(lst))

10
1
[1]
3
[1, 3]
5
[1, 3, 5]
4
[1, 3, 5, 4]
0
[1, 3, 5]
0
[1, 3]
7
[1, 3, 7]
0
[1, 3]
0
[1]
6
[1, 6]
7

In [6]:
# 2440 별 찍기-3

n = int(input())

for i in reversed(range(1, n+1)):
    print(i * '*')

5
*****
****
***
**
*

In [14]:
# 11721 열 개씩 끊어 출력하기

user = input()

for i in range(len(user)//10+1):
    print(user[i*10:(i+1)*10])

OneTwoThreeFourFiveSixSevenEightNineTen
OneTwoThre
eFourFiveS
ixSevenEig
htNineTen